<div class="crew-content">
  <div class="add-crew-button">
    <button mat-raised-button color="accent" [routerLink]="['/certificate-type-create']"> {{ 'Add Certificate Type' | translate}} </button>
    <button mat-raised-button color="primary" (click)="addCrew()">{{'Add Crew Member' | translate}}</button>
  </div>
  <div class="crew-table">
    <mat-table [dataSource]="crewList" class="mat-elevation-z8">
      <!-- First Name Column -->
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef>{{ "crew.firstName" | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let crew">{{ crew.firstName }}</mat-cell>
      </ng-container>
    
      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef>{{ 'crew.lastName' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let crew">{{ crew.lastName }}</mat-cell>
      </ng-container>
    
      <!-- Nationality Column -->
      <ng-container matColumnDef="nationality">
        <mat-header-cell *matHeaderCellDef>{{ 'crew.nationality' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let crew">{{ 'nationalities.' + crew.nationality | translate }}</mat-cell>
      </ng-container>
    
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>{{ 'crew.title' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let crew">{{ 'titles.' + crew.title | translate }}</mat-cell>
      </ng-container>
    
      <!-- Daily Rate Column -->
      <ng-container matColumnDef="dailyRate">
        <mat-header-cell *matHeaderCellDef>{{ 'crew.dailyRate' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let crew">{{ crew.dailyRate }}</mat-cell>
      </ng-container>
    
      <!-- Days On Board Column -->
      <ng-container matColumnDef="daysOnBoard">
        <mat-header-cell *matHeaderCellDef>{{ 'crew.daysOnBoard' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let crew">{{ crew.daysOnBoard }}</mat-cell>
      </ng-container>
    
      <!-- Currency Column -->
      <ng-container matColumnDef="currency">
        <mat-header-cell *matHeaderCellDef>{{ 'crew.currency' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let crew">{{ crew.currency }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="totalIncome">
        <mat-header-cell *matHeaderCellDef> {{ 'crew.totalIncome' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let crew"> {{ getTotalIncome(crew) | currency: crew.currency }} </mat-cell>
      </ng-container>
    
      <!-- Certificates Column -->
      <ng-container matColumnDef="certificates">
        <mat-header-cell *matHeaderCellDef> {{ 'crew.certificates' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let crew">
          <button mat-button [disabled]="crew.certificates.length === 0" (click)="viewCertificateModal(crew)"> {{'View' | translate}}</button>
        </mat-cell>
      </ng-container>
    
      <!-- Action Menu Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>{{ 'actions.header' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let crew; let crewIndex= index">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editCrew(crew, crewIndex)">
              <mat-icon>edit</mat-icon>  {{'actions.edit' | translate}}
            </button>
            <button mat-menu-item (click)="deleteCrew(crew)">
              <mat-icon>delete</mat-icon>   {{'actions.delete' | translate}}
            </button>
            <button mat-menu-item (click)="viewCrewDetails(crew)">
              <mat-icon>visibility</mat-icon>  {{ 'actions.viewDetails' | translate }}
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
    
      <!-- Header Row and Data Row -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <div class="total-income">
    <p>{{ 'crew.totalIncome' | translate}} (USD): {{ getTotalIncomeByCurrency('USD') | currency:'USD' }}</p>
    <p>{{ 'crew.totalIncome' | translate}} (EUR): {{ getTotalIncomeByCurrency('EUR') | currency:'EUR' }}</p>
  </div>
</div>

