<mat-menu #languageMenu="matMenu">
    <button mat-menu-item (click)="changeLanguage('en')">
      <img src="assets/icons/flags/en.png" alt="English Flag" class="flag-icon">
      English
    </button>
    <button mat-menu-item (click)="changeLanguage('fr')">
      <img src="assets/icons/flags/fr.png" alt="French Flag" class="flag-icon">
      Français
    </button>
    <button mat-menu-item (click)="changeLanguage('pt')">
      <img src="assets/icons/flags/pt.png" alt="Portuguese Flag" class="flag-icon">
      Português
    </button>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="languageMenu">
    <mat-icon>language</mat-icon>
    {{ 'Language' | translate}}
  </button>