<h1 mat-dialog-title>{{ 'crew.certificates' | translate }}</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <table mat-table [dataSource]="crewCertificates" class="mat-elevation-z8">

    <!-- Certificate Type Column -->
    <ng-container matColumnDef="certificateType">
      <th mat-header-cell *matHeaderCellDef> {{ 'crew.certificateType' | translate }} </th>
      <td mat-cell *matCellDef="let certificate"> {{certificate.type}} </td>
    </ng-container>

    <!-- Issue Date Column -->
    <ng-container matColumnDef="issueDate">
      <th mat-header-cell *matHeaderCellDef> {{ 'crew.issueDate' | translate }} </th>
      <td mat-cell *matCellDef="let certificate"> {{certificate.issueDate | date}} </td>
    </ng-container>

    <!-- Expiry Date Column -->
    <ng-container matColumnDef="expiryDate">
      <th mat-header-cell *matHeaderCellDef> {{ 'crew.expiryDate' | translate }} </th>
      <td mat-cell *matCellDef="let certificate"> {{certificate.expiryDate | date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'Close' | translate }}</button>
</div>
